mixin footer()
  - year = 2019
  footer.callout.large.secondary
    article.grid-container

  .grid-x
    .large-4.cell
    p Copyright &copy; 2019 Rowan IEEE Student Branch. All Rights Reserved.

    //- jquery
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    //- foundation
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js')
    //- motion-ui
    script(src='https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js')
    script.
      $(document).foundation();

