include mixins/header
include mixins/navbar
include mixins/footer

- pageName= 'Events'

+header(pageName)
body
  +navbar()
  br
  .text-center
    h2 Events
  article.grid-container
    hr

  +footer()
