include mixins/header
include mixins/navbar
include mixins/slideshow
include mixins/footer

+header()
body
  +navbar()
  .title-bar(data-responsive-toggle='mainNavigation' data-hide-for='medium' style='display: none;' data-e='n9nqhv-e')
    .title-bar-left
      button.menu-icon(type='button' data-toggle='mainNavigation')
      .title-bar-title Menu
    .title-bar-right
        - var slides = []
        - slides.push({src:'https://placehold.it/2000x750&text=1st', caption:'First', description:'First'})
        - slides.push({src:'https://placehold.it/2000x750&text=2nd', caption:'Second', description:'Second'})
        - slides.push({src:'https://placehold.it/2000x750&text=3rd', caption:'Third', description:'Third'})
        - slides.push({src:'https://placehold.it/2000x750&text=4th', caption:'Fourth', description:'Fourth'})
  +slideshow(...slides)
  br
  +footer()
