include mixins/header
include mixins/navbar
include mixins/footer

+header()
body
  +navbar()
  .title-bar(data-responsive-toggle='mainNavigation' data-hide-for='medium' style='display: none;' data-e='n9nqhv-e')
    .title-bar-left
      button.menu-icon(type='button' data-toggle='mainNavigation')
      .title-bar-title Menu
    .title-bar-right.

      Marketing Site

  .orbit#kw4dyx-orbit(role='region' aria-label='Favorite Space Pictures' data-orbit data-options='animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;' data-resize='kw4dyx-orbit' data-e='dknej9-e')
    ul.orbit-container(tabindex='0' style='height: 715.5px;')
      button.orbit-previous(tabindex='0')
        span.show-for-sr Previous Slide
        | ◀︎
      button.orbit-next(tabindex='0')
        span.show-for-sr Next Slide
        | ▶︎
      li.orbit-slide(data-slide='0' style='display: none;')
        img.orbit-image(src='https://placehold.it/2000x750&text=1st' alt='Space')
        figcaption.orbit-caption Space, the final frontier.
      li.orbit-slide(data-slide='1' style='position: relative; top: 0px; display: none;')
        img.orbit-image(src='https://placehold.it/2000x750&text=2nd' alt='Space')
        figcaption.orbit-caption Lets Rocket!
      li.orbit-slide(data-slide='2' style='position: relative; top: 0px; display: none;')
        img.orbit-image(src='https://placehold.it/2000x750&text=3rd' alt='Space')
        figcaption.orbit-caption Encapsulating
      li.orbit-slide.is-active(data-slide='3' style='position: relative; top: 0px; display: block;' aria-live='polite')
        img.orbit-image(src='https://placehold.it/2000x750&text=4th' alt='Space')
        figcaption.orbit-caption Outta This World
    nav.orbit-bullets
      button(data-slide='0')
        span.show-for-sr First slide details.
      button(data-slide='1')
        span.show-for-sr Second slide details.
      button(data-slide='2')
        span.show-for-sr Third slide details.
      button.is-active(data-slide='3')
        span.show-for-sr Fourth slide details.
        span.show-for-sr Current Slide
  br
  .text-center
    h2 Our Newest Products
    hr
  article.grid-container
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-4
      .cell
        img.thumbnail(src='https://placehold.it/500x600')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.expanded(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/500x600')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.expanded(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/500x600')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.expanded(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/500x600')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.expanded(href='#') Buy
    hr
    .grid-x.cell
      .callout.small-12.primary
        h3 Really big special this week on items.
    hr
    .text-center
      h2 Some Other Neat Products
      hr
    .grid-x.grid-margin-x.small-up-2.medium-up-3.large-up-6
      .cell
        img.thumbnail(src='https://placehold.it/300x400')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.small.expanded.hollow(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/300x400')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.small.expanded.hollow(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/300x400')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.small.expanded.hollow(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/300x400')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.small.expanded.hollow(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/300x400')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.small.expanded.hollow(href='#') Buy
      .cell
        img.thumbnail(src='https://placehold.it/300x400')
        h5 Nulla At Nulla Justo, Eget
        p $400
        a.button.small.expanded.hollow(href='#') Buy
  br
  +footer()
